*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins light';
}
body{
    background-color:white
}
header{  
    height: 13vh;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: end;
    padding-top: 40px;
}
nav li{
    list-style-type: none;
    padding: 10px;
}
nav a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
nav a:hover{
    background-color: rgb(10, 10, 10);
    color: rgb(243, 240, 240);
    padding: 10px;
    transition: all 0.5s ease-in-out;
    box-shadow: -3px 3px 32px 8px rgba(0,0,0,0.20);
}
nav a:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.container{
    margin-top: 40px;
    width: 100%;
}
.input-text{
    margin: auto;
    background:linear-gradient(140deg, rgb(134, 91, 10), rgb(228, 228, 98));
    padding: 10px;
    width: 80%;
    box-shadow: -3px 3px 32px 8px rgba(0,0,0,0.61);
    -webkit-box-shadow: -3px 3px 32px 8px rgba(0,0,0,0.61);
    -moz-box-shadow: -3px 3px 32px 8px rgba(0,0,0,0.61);
}

.input:focus{
    outline: none;
    background: none;
    border-bottom: 2px solid white;
    transition: all 1.5s ease; 
    transform: translate(-0px, 8px); 
}

.input-text h1{
    display: flex;
    font-size: 16px;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    color: rgb(250, 250, 250);
    margin-bottom:30px;
    margin-top: 30px;
    letter-spacing: 2px;
    animation-name: headingMotion;
    animation-duration: 3s;
}
.input{
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 2px;
    display: block;
    width: 90%;
    
}
.login{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.log-btn{
    text-transform: capitalize;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    letter-spacing: 2px;
    font-size: 15px;
}
.log-btn:hover{
    background-color: white;
    color: black;
    border: 3px solid black;
    transition: all 1s ease;
}
.log-btn:active{
    transform: scale(0.08);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    transition: all 2s ease;
}
.sign{
    background:none;
    color: black;
    border: 3px solid black;
}
.sign:hover{
    background-color: white;
    transition: all 1s ease;
}
.sign:active{
    transform: scale(0.08);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.forgot-password{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.forgot-password a{
    text-decoration: none;
}
footer{
    background: linear-gradient(120deg, white, white);
    width: 100%;
    height: 15vh;
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 12px;
}

@keyframes headingMotion{
    0%{
        letter-spacing: 2px;
        transform: translate(-0px,-20px);
    }
}
